{% extends "index.html" %}

{% block lists %}
  <p>Here is the lists</p>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>IsDone</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.task_id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            {% if task.is_done == 1 %}
            Done
            {% else %}
            Not Done
            {% endif %}
          </td>
          <td>
            <form action="#" method="post">
              <input name="task_id" type="hidden" value="{{task.task_id}}">
              <button type="submit">Edit</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for("delete",task_id = task.task_id) }}" method="post">
              <input name="task_id" type="hidden" value="{{task.task_id}}">
              <button type="submit">Delete</button>
            </form>
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}