{% extends "index.html" %}

{% block lists %}
  <p>Here is the lists</p>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>IsDone</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            {% if task.is_done == "0" %}
            Done
            {% else %}
            Not Done
            {% endif %}
          </td>
          <!-- <td>
            <form action="/lists/<" method="post"></form>
          </td> -->
          
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}